* {
	box-sizing: border-box;
	padding: 0;
	font-family: monospace;
}

html {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: lightcyan;
}

.row-zero {
	display: flex;
	justify-content: space-between;
}

#calculator {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 420px;
}

.calc-screen {
	min-height: 90px;
	padding: 0.5em;
	font-size: 2em;
	margin-bottom: 1em;
	background-color: rgb(212, 235, 198);
	box-shadow: rgba(36, 36, 36, 1) 3px 3px 6px 0px inset,
		rgba(43, 43, 43, 0.1) -3px -3px 6px 1px inset;
}

#calc-screen-result,
#calc-screen-input {
	padding: 0.2em;
	text-align: right;
}
#calc-body {
	background-color: rgb(94, 94, 94);
	padding: 2em;
	margin: 2em;
	border-radius: 5px;
	user-select: none;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button {
	padding: 0.5em 1em;
	border: none;
	font-size: 2rem;
	margin: 0.1em;
	background-color: #333;
	color: rgb(230, 205, 137);
	user-select: none;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0) 0px 7px 13px -3px,
		rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:active {
	box-shadow: rgba(255, 255, 255, 0) 0px 2px 4px,
		rgba(0, 0, 0, 0) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
